{% extends "base.html" %}
{% block includes %}
  <link href="{{ absolute_url_for('static', component='base', filename='home.css') }}?{{ cachebust }}" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div class="login">
        <div class="login-wrapper">
            <div class="section">
                <h2>Welcome to {{ config.name }}!</h2>
                {% include "login/login.html" %}
            </div>
            {% if config.account_registration.enabled %}
                <div class="section">
                    Don't have an account? <a href="{{ absolute_url_for('account.register', component='base') }}">Create one!</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
